<div class="card-container" style="padding:20px;">
	<md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="margin:0 auto;max-width:750px">
		<md-content style="width:100%;">
		
				<div style="padding:15px;background:#f7f7f7">
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm style="margin:0;margin-top:10px">
							<label>Search</label>
							<input id="search" ng-model="search">
						</md-input-container>
	
					</div>
				<div layout="row" layout-align="space-between center">
					<fieldset class="standard">
						<legend>Status</legend>
						<md-radio-group ng-model="status" layout="row" style="margin-top: 0 !important">
							  <md-radio-button value="Active" class="md-primary">Active</md-radio-button>
							  <md-radio-button value="Inactive"> Inactive </md-radio-button>
						</md-radio-group>
					</fieldset>
					<div>
						<label>Categories</label>
						 <md-menu md-position-mode="target-right target" >
							  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
								<md-icon md-svg-icon="/img/ic_keyboard_arrow_down_24px.svg"></md-icon>
							  </md-button>
							 <md-menu-content width="4" >
								<md-menu-item>
								  <md-button>
									  <div layout="row" flex>
										<p flex>Shoes </p>
										<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
									  </div>
								  </md-button>
								</md-menu-item>
								<md-menu-item>
								  <md-button>
									  <div layout="row" flex>
										<p flex>Sports </p>
										<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
									  </div>
								  </md-button>
								</md-menu-item>
								<md-menu-item>
								  <md-button>
									  <div layout="row" flex>
										<p flex>Tech </p>
										<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
									  </div>
								  </md-button>
								</md-menu-item>
							  </md-menu-content>
						</md-menu>
					</div>
				</div>
				</div>
				<hr/>
				<div style="padding:10px">
				 <md-card>
					 <md-card-content layout="row" layout-align="space-between center">
						<div flex="30"><img src="img/watch.png"></img></div>
						<div flex="50" layout="column">
							<label style="font-size: 20px;font-weight: 700;">Motorolla Moto Smart</label>
							<label style="font-size: 14px;color:grey;margin-top:5px">Code: 33445</label>
						</div>
						<div flex="20">
							<label style="font-size: 30px;font-weight: 700;color:#0072a5">$80.00</label>
						</div>
						
					 </md-card-content>
				 </md-card>
				 <md-card>
					 <md-card-content layout="row" layout-align="space-between center">
						<div flex="30"><img src="img/shoe.png"></img></div>
						<div flex="50" layout="column">
							<label style="font-size: 20px;font-weight: 700;">Basketball shoes</label>
							<label style="font-size: 14px;color:grey;margin-top:5px">Code: 33445</label>
						</div>
						<div flex="20">
							<label style="font-size: 30px;font-weight: 700;color:#0072a5">$30.00</label>
						</div>
					 </md-card-content>
				 </md-card>
			 </div>
				
		
		</md-content>
	</md-whiteframe>
</div>