.drop-down-container
{
    padding-right: 96px;
}
.status
{
    padding-right: 137px;
}
.brand
{
    padding-right: 117px;
}
#md-button-childimage
{
    left: 280px;
    top:-20px;
    /*background-color:#e64a19;*/
}

.input-text-width
{
    width: 150px;
}
.input-textarea-width
{
    width: 220px;
    height: 180px;
}
.md-content-width
{
    width: 653px;
    max-height: 310px;
}
.p-word-wrap-spec
{
    word-wrap: break-word;
}
#md-icon-spinner
{
    position: absolute;
    left: 50%;
    top: 57%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
    height:75px;
    width:75px;
}

/*.div-spinner*/
/*{*/
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    /*width:100%;*/
    /*height:100%;*/
    /*z-index:1000;*/
    /*background-color:#959595;*/
    /*opacity: .8;*/
/*}*/


md-checkbox .md-label {
    padding-top: 0px !important;
}


.fieldset-padding-down
{
    padding-bottom: 0px;
}

.p-t-0 > div
{
    padding-top: 0px !important;
}

.h-0 > div
{
 height: 0px;
}
.m-t-2
{
    margin-top: 2px !important;
}

.m-t-0
{
    margin-top: 0px !important;
}
.m-b-10
{
    margin-bottom: 10px !important;
}

.m-b-40
{
    margin-bottom: 40px !important;
}

.m-b-10 > div
{
    margin-bottom: 10px !important;
}

.h-0
{
    height: 0px !important;
}

.h-30
{
    height: 30px !important;
}

.h-60
{
    height: 60px !important;
}

.payment-list > button :hover{
    border: 0px solid !important;
    background-color: rgba(158, 158, 158, 0) !important;
}

md-list-item .md-no-style, md-list-item.md-no-proxy {
    padding: 0 0px !important;
}

/*21-07-16*/
.div-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #f7f7f7;
    opacity: 0.9;
    text-align: center;
    overflow: hidden !important;
}

.div-spinner > .please-wait {
    margin-top: 300px;
    position: relative;
}

.view-btn-style
{
    right: 27% !important;
}

.main-body
{
    padding:15px;
    padding-bottom:2px !important;
    background:#f7f7f7;
}

.selectedThis-item{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0px rgba(0,0,0,0) !important;
    background: #f7f7f7 !important;
    outline: none !important;
    border: none !important;
}

.unSelect-list {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0px rgba(0,0,0,0) !important;
    background: #fff !important;
    outline: none !important;
    border: none !important;
}
.background-white-color
{
    background: #f7f7f7 !important;
}

.payment-list > button :hover{
    border: 0px solid !important;
    background-color: rgba(158, 158, 158, 0) !important;
}
