
body, html {
    background: transparent;
    height: 100%;
    overflow: hidden;
}

.header-bg-blue {
    background: rgba(4, 163, 235, 1) !important;
}

.header-cloudC-000 {
    height: 83px;
    width: 100%;
    overflow: hidden;

}

.sd {
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    height: 680px;
}

.main-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.overflow-hidden {
    overflow: hidden;
}

.font-Lato {
    font-family: 'Lato', sans-serif;
}

.header-content {
    width: 100%;
    position: relative;
}

.logo-left {
    float: left;
    left: 0;
    padding-top: 23px;
}

.text-wrap {
    padding-top: 50px;
}

.text-wrap > h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 26px;
    padding-top: 1px;
    text-align: center;
}

.text-wrap > h1 > i {
    float: right;
    padding-right: 22px;
    padding-top: 5px;
    cursor: pointer;
    font-size: 24px;
    color: #0281BB;
}

.text-wrap > h1 > i:hover {
    color: #ffffff;
}

.text-wrap > h1 > i.first {
    margin-right: 5px;
}

.text-wrap > h1 > i.last {
    margin-right: 20px;
}

.logo-left > img {
    align-content: center;
}

/*#padding style */
.p-0 {
    padding: 0px !important;
}

.p-l-80 {
    padding-left: 80px;
}

.p-l-50 {
    padding-right: 30px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-0 {
    padding-top: 0px !important;
}
    /*#margin style*/
.m-0 {
    margin: 0px;
}

.body-content-wrap {
    height: 550px;
    width: auto;
    padding: 30px 36px 3px 34px;
    display: block;
    top: 0;
}

md-input-container > label {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #CACACA;
    font-size: 13px;
}

.adjus-form {
    border-bottom: 2px solid #ECECEC !important;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    color: #323232;
}

.btn {
    height: 65px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    padding-top: 22px;
    cursor: pointer;
}

.btn-cancel {
    background: #484848;
}

.btn-submit {
    background: #e64a19;
}

.validation-in {
    position: relative;
}

.input-validation {
    position: absolute;
}

.input-validation > .valid {
    display: inline-block;
}

.input-validation > .valid > i {
    display: inline-block;
}

.input-validation > .valid > i {
    color: #0281BB;

}

.search-wrap {
    width: 100%;
    height: 65px;
    background: #f7f7f7;
    padding: 3px 10px 5px 10px;
    position: relative;
    display: block;
}

.search-in {
    position: absolute;
    top: 19px;
    z-index: 1001;
    right: 44px;
}

.search-in > i {

    font-size: 20px;
}

.table-header {
    background: #036b99;
    color: #ffffff;
    height: 40px;
    padding: 10px 15px 10px 15px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 14px;

}

.table-card {
    margin: 5px 0;
    padding: 18px 15px 18px 15px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

}

.table-card:hover {
    background: #f7f7f7;
    color: #000;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.details-view {
    background: #F7F7F7;
}

.row-color-gray {
    background: #f3f3f3;
}

.row-color-white {
    background: #ffffff;
}

.add-new {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #00c9dd;
    top: 80%;
    right: 25%;
    color: #ffffff;
    text-align: center;
    -webkit-box-shadow: -3px 17px 17px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 17px 17px -14px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 17px 17px -14px rgba(0, 0, 0, 0.75);
}

.add-new > i {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    line-height: 60px;
    cursor: pointer;
}

.table-data-load {
    position: absolute;
    text-align: center;
    top: 200px;
    width: 100%;
}

.spinner-container {
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}

.spinner-container .path {
    stroke-dasharray: 1, 150; /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    stroke: rgba(72, 72, 72, 0.2);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    -webkit-animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150; /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150; /* 70%, 101% circumference */
        stroke-dashoffset: -35; /* 25% circumference */
    }
    100% {
        stroke-dasharray: 90, 150; /* 70%, 101% circumference */
        stroke-dashoffset: -124; /* -99% circumference */
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150; /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150; /* 70%, 101% circumference */
        stroke-dashoffset: -35; /* 25% circumference */
    }
    100% {
        stroke-dasharray: 90, 150; /* 70%, 101% circumference */
        stroke-dashoffset: -124; /* -99% circumference */
    }
}

.right-layout {
    background: #fff;
    width: auto;
    /*height: 658px !important;*/
    min-height: 680px;
    max-height: 680px;
    margin-left: -2px;
    padding-left: 40px;
    padding-right: 40px;
    overflow-x: auto;
}

#adjContent {
    z-index: 0;
}

#adjDetails {
    z-index: 0;
}

.selected-row > .table-content > .slim-scroll-wrapper > md-card {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0),
    0 0px 0px 0px rgba(0, 0, 0, 0);
    margin: 0;
    outline: none !important;
    background: #f3f3f3
}
.table-content > .slim-scroll-wrapper > md-list {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0),
    0 0px 0px 0px rgba(0, 0, 0, 0);
    margin: 0;
    outline: none !important;
    background: #f3f3f3
}
.selected-row .table-content {

}

.selectedThis {
    background: #ffffff !important;
    outline: none !important;

}

.unSelect {
    background: #f3f3f3 !important;
}

.top-header {
    width: 100%;
    padding-top: 35px;
    padding-left: 4px;
    border-bottom: 2px solid #E2E0E0;
}

.adj-left-text {
    padding-bottom: 25px;
    text-align: left;
}

.adj-right-text {
    text-align: right;
    display: inline-block;
    width: 100%;
}

.adj-left-text > h1 {
    font-family: 'lato', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin: 0px;
    text-align: left;
}

.adj-left-text > small,
.adj-right-text > small {
    color: #bfbfbf;
    font-family: 'lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.adj-right-text > h1 {
    text-align: right;
    color: #026b9a;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0px;
}

.item-details {
    width: 100%;
}

.item-details > .item {
    width: 100%;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    /* padding: 0px; */
    overflow: hidden;
}

.row-gray {
    background: #f1f1f1;
}

.item-details > .item > div > h5 {
    margin: 0px;
}

.note-wrap {
    border: 2px solid #F1F1F1;
    padding: 5px 10px;
}

.note-wrap > p {
    font-family: 'lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.text-gray-color {
    color: #9b9b9b;
}

.text-white-color {
    color: #fff;
}

.font-300 {
    font-weight: 400;
}

.note-text {
    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 20px;
}

.header-layout {
}

.table-content {
    width: 100%;
    height: 510px;
    overflow: hidden;
}

/*.table-content:hover {*/
/*overflow-x: auto;*/
/*}*/

.table-content::-webkit-scrollbar {
    background: #e3e3e3;
    border-radius: 5px;
    width: 5px;
}

.table-content::-webkit-scrollbar-thumb {
    background: #e3e3e3;
    border-radius: 5px;
}

.heder-layout-abj001 {

}

.heder-layout-abj001 > div > .header-cloudC-000.test {

}

/*font size main style*/
.font-size15{
    font-size: 15px;
}
.font-size18{
    font-size: 18px;
}
.font-weight400{
    font-weight: 400 !important;
}
.font-weight300{
    font-weight: 300 !important;
}
.font-weight600{
    font-weight: 600 !important;
}


/*end*/

.currency-text-right{
    text-align: right !important;
    color:#0072a5;
    font-size: 20px;
    font-weight: bold ;

}

.text-blue-color
{
    color:#0072a5;
}

#rightFabBtn{
    z-index: 1001;
}

.sd-add {
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    width: 700px;
    max-width: 750px;

}

.btn-height31
{
    height: 31px;
}

.btn-search-all
{
    background: rgb(167, 166, 166);
}

/*22-07-16 filter*/

.type-toggle-wrapper {
    width: 100%;
    position: absolute;
    top: 59px;
    right: 17px;
}

.type-toggle-wrapper > .type-toggle-wrap {
    float: right;
    margin-right: 5px;
}

.type-toggle-wrap > .md-button-detail {
    cursor: pointer;
}

.search-wrap.filter {
    height: 78px;
}

.inv-status-wrpper {
    padding: 5px 10px 0px 10px;
}

.inv-status-wrpper > .standard > legend {
    font-family: 'lato', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #04a3eb;
}

.inv-status-wrpper > .standard {
    border: 2px solid #f7f7f7;
}

.gray-800 {
    color: #595959;
}

.filter-text-wrapper {
    font-family: 'lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #595959;
}