/*damith*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    /* Styles */
    .table-view {
        margin-top: 0px;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1224px) {
    .add-new {
        top: 80%;
    }

    .body-content-wrap {
        height: calc(75vh);
    }

    .table-view {
        margin-top: 88px;
    }

    .right-layout {
        height:644px;
    }

}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {
    .add-new {
        top: 50%;
    }

    .table-content {
        height: 650px;
    }

    .right-layout {
        height: 761px;
    }

    .table-view {
        margin-top: 0px;
    }

}

@media only screen and (max-width: 500px) {
    .table-view {
        margin-top: 0px;
    }

}

@media only screen and (min-width: 768px) {
    .body-content-wrap {
        height: calc(72vh);
    }

}

