<div ng-controller="adjustmentViewCtrl">
    <div class="main-wrap animated ">
        <div class="header-layout heder-layout-abj001  animated fadeIn" ng-if="viewCount!=0">
            <div layout="row" layout-align="center center" layout-wrap>
                <div flex="85" class="header-bg-blue header-cloudC-000 test">
                    <div class="md-toolbar-tools header-bg-blue p-0">
                        <div class="header-content">
                            <div class="logo-left">
                                <img src="../asset/images/adjustments_add_118x99.png">
                            </div>
                            <div class="text-wrap">
                                <h1 class="font-Lato text-white-color">Product
                                    <i class="ti-close last">
                                        <md-tooltip md-direction="bottom">
                                            close
                                        </md-tooltip>
                                    </i>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center center" layout-wrap>


            <!-- left layout -->
            <div flex="40" id="adjContent">


                <div layout="column" class="sd">
                    <div class="header-layout" ng-show="viewCount==0">
                        <div layout-align="center center" layout-wrap>
                            <div class="header-bg-blue header-cloudC-000">
                                <div class="md-toolbar-tools header-bg-blue p-0">
                                    <div class="header-content">
                                        <div class="logo-left">
                                            <img src="../asset/images/adjustments_add_118x99.png">
                                        </div>
                                        <div class="text-wrap">
                                            <h1 class="font-Lato text-white-color">Product
                                                <i class="ti-close last">
                                                    <md-tooltip md-direction="bottom">
                                                        close
                                                    </md-tooltip>
                                                </i>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding:15px;background:#f7f7f7">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm style="margin:0;margin-top:10px">
                                <label style="font-size:20px;color:#0072a5">Search</label>
                                <input id="search" ng-model="search">
                            </md-input-container>

                        </div>
                        <div layout="row" layout-align="space-between center">
                            <fieldset class="standard fieldset-padding-down">
                                <legend>STATUS</legend>
                                <!--<md-radio-group ng-model="status" layout="row" style="margin-top: 0 !important">-->
                                <!--<md-radio-button value="true" class="md-primary">Active</md-radio-button>-->
                                <!--<md-radio-button value="false"> Inactive </md-radio-button>-->
                                <!--</md-radio-group>-->
                                <md-checkbox  content="Active" aria-label="active" ng-click="includeStatus(1)"  style="margin-top: 0 !important" class="md-primary" ng-true-value="true" >
                                    Active
                                </md-checkbox>
                                <md-checkbox  aria-label="inactive" ng-click="includeStatus(0)"  style="margin-top: 0 !important" class="md-primary" ng-true-value="false" >
                                    Inactive
                                </md-checkbox>
                            </fieldset>
                            <div>
                                <label>{{title}}</label>

                                <md-menu md-position-mode="target-right target">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                        <md-icon md-svg-icon="../img/ic_keyboard_arrow_down_24px.svg"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4" >
                                        <md-menu-item>
                                            <md-button>
                                                <div layout="row" flex>
                                                    <p flex ng-click="removeFilterCat()">All</p>
                                                    <!--<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>-->
                                                </div>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-repeat="category in categories">
                                            <md-button>
                                                <div layout="row" flex>
                                                    <p flex ng-click="addFilterCat(category)">{{category}} </p>
                                                    <!--<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>-->
                                                </div>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="div-spinner" ng-show="isSpinnerShown">
                        <md-icon md-svg-src="../img/puff.svg" id="md-icon-spinner" ></md-icon>
                    </div>
                    <md-list when-scrolled="more()">
                        <md-list-item  ng-repeat="product in products | filter:search | filter:statusFilter  | filter:filters " ng-click="openProduct(product)" style="outline:none;" id="{{product.code}}">
                            <md-card layout="row" layout-align="space-between center" style="width:100%;padding:0;margin: 3px;">
                                <div flex="30"><img ng-src="{{product.attachment}}" err-src="../img/noimage.png" style="width:80px;margin-left: 10px;"/></div>
                                <div flex="50" layout="column">
                                    <label style="font-size: 18px;font-weight: 700;">{{product.product_name}}</label>
                                    <label style="font-size: 14px;color:grey">Code: {{product.code}}</label>
                                </div>
                                <div flex="20" layout="column" style="margin-right:20px;float: left">
                                    <label style="font-size: 28px;font-weight: 700;color:#0072a5; text-align: right">{{product.price_of_unit | currency}}</label>
                                </div>

                            </md-card>
                        </md-list-item >
                    </md-list>

                </div>
            </div><!-- end -->
            <!-- right wrap-->
            <div flex="45" class="animated fadeIn" id="adjDetails" ng-if="viewCount!=0">
                <div class="right-layout ">
                    <div layout="row">
                        <div layout="row" class="top-header">
                            <div flex="50">
                                <div class="adj-left-text">
                                    <h1>John Doe</h1>
                                    <small>Invoice No : 344553</small>
                                </div>
                            </div>
                            <div flex="50">
                                <div class="adj-right-text">
                                    <small>Amount</small>
                                    <h1>$100</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout="column" flex="100">
                        <div class="item-details p-t-30" layout="row">
                            <div class="item row-gray" layout="row">
                                <div flex class="text-left">
                                    <h5 class="text-gray-color font-300">Adjustment Type</h5>
                                </div>
                                <div flex class="text-right">
                                    <h5>Debit</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item-details" layout="column">
                            <div class="item" layout="row">
                                <div flex class="text-left">
                                    <h5 class="text-gray-color font-300">Invoice Date</h5>
                                </div>
                                <div flex class="text-right">
                                    <h5>23-04-2016</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item-details " layout="row">
                            <div class="item row-gray" layout="row">
                                <div flex class="text-left">
                                    <h5 class="text-gray-color font-300">Adjustment No</h5>
                                </div>
                                <div flex class="text-right">
                                    <h5>324589756</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item-details " layout="row">
                            <div class="item" layout="row">
                                <div flex class="text-left">
                                    <h5 class="text-gray-color font-300">Adjustment Date</h5>
                                </div>
                                <div flex class="text-right">
                                    <h5>23-04-2016</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item-details " layout="row">
                            <div class="item row-gray" layout="row">
                                <div flex class="text-left">
                                    <h5 class="text-gray-color font-300">Adjustment Reason</h5>
                                </div>
                                <div flex class="text-right">
                                    <h5>Lorem ipsum</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item-details " layout="row">
                            <div class="item" layout="row">
                                <div flex class="text-left">
                                    <h5 class="text-gray-color font-300">Invoice Ref NO</h5>
                                </div>
                                <div flex class="text-right">
                                    <h5>3223</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout="column">
                        <h5 class="text-gray-color font-300 m-0 note-text">Note</h5>
                        <div class="note-wrap">
                            <p>It is a long established fact that a reader will be distracted by
                                the readable content of a page when looking at its layout. The point
                                of using Lorem Ipsum
                                is that it has a more-or-less normal distribution of letters
                            </p>
                        </div>
                    </div>
                </div>


            </div><!-- end -->
        </div>
    </div>

</div>

</div>