<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">

  <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <img src="app/core/app_icons/product_app_icon.png" alt=""/>
        </span>
    <span class="logo-text">Product</span>
  </div>

  <!-- <div class="account">
      <div class="title">John Doe</div>
      <md-select class="account-selection simplified" placeholder="Mail Selection"
                 ng-model="vm.selectedAccount">
          <md-option ng-repeat="(provider, address) in vm.accounts" value="{{provider}}">{{address}}
          </md-option>
      </md-select>
  </div> -->

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>

  <div class="compose-button" ng-if="vm.activeProductPaneIndex === 0">
    <md-button class="md-accent md-raised" aria-label="compose"
               ng-click="vm.addProductDialog()">{{vm.pageTitle}}
    </md-button>
  </div>

  <div class="compose-button" ng-if="vm.activeProductPaneIndex === 1">
    <md-button class="md-accent md-raised" aria-label="compose" ng-hide="editOff || !editOn"
               ng-click="lfApi.removeAll(); toggleEdit()">Edit Product
    </md-button>
    <md-button class="md-accent md-raised" aria-label="compose" ng-show="editOff"
               ng-click="vm.closeReadPane();">View Products
    </md-button>
  </div>

  <div class="navigation-simple" layout="column" ng-if="vm.showFilters">
    <md-button class="item" aria-label="inbox" ng-click="getAllProductsFilter()">
      <div layout="row" layout-align="start center">
        <img src="app/core/app_icons/product_app_icon_black.png" class="sidenav-img-ico" alt=""/>
        <span class="title">All Products</span>
      </div>
    </md-button>

    <div class="item subheader">Filters</div>
    <md-button class="item" aria-label="starred" ng-click="getProductByStatus(1)">
      <div layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-label" class="active s16"></md-icon>
        <span class="title" flex>Active</span>
      </div>
    </md-button>

    <md-button class="item" aria-label="important" ng-click="getProductByStatus(0)">
      <div layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-label" class="inactive s16"></md-icon>
        <span class="title" flex>Inactive</span>
      </div>
    </md-button>

    <md-button class="item" aria-label="starred" ng-click="getLowOnStockProducts()">
      <div layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-thumb-down" class="s16"></md-icon>
        <span class="title" flex>Low on Stock</span>
      </div>
    </md-button>

    <!--<div class="item subheader">Filters</div>-->

    <!--<md-button class="item" aria-label="label notes">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>-->
        <!--<span class="title">Draft</span>-->
      <!--</div>-->
    <!--</md-button>-->
    <!--<md-button class="item" aria-label="label notes">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>-->
        <!--<span class="title">Sent</span>-->
      <!--</div>-->
    <!--</md-button>-->
    <!--<md-button class="item" aria-label="label notes">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>-->
        <!--<span class="title">Viewed</span>-->
      <!--</div>-->
    <!--</md-button>-->
    <!--<md-button class="item" aria-label="label notes">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>-->
        <!--<span class="title">Partial</span>-->
      <!--</div>-->
    <!--</md-button>-->
    <!--<md-button class="item" aria-label="label notes">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>-->
        <!--<span class="title">Paid</span>-->
      <!--</div>-->
    <!--</md-button>-->
    <!--<md-button class="item" aria-label="label notes">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>-->
        <!--<span class="title">Unrealized</span>-->
      <!--</div>-->
    <!--</md-button>-->
    <!--<md-button class="item" aria-label="label notes">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>-->
        <!--<span class="title">Ignored</span>-->
      <!--</div>-->
    <!--</md-button>-->
    <!--<md-button class="item" aria-label="label notes">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>-->
        <!--<span class="title">Archived</span>-->
      <!--</div>-->
    <!--</md-button>-->

    <!--<md-divider></md-divider>-->

    <!--<md-button class="item" aria-label="settings">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-cog" class="s16"></md-icon>-->
        <!--<span class="title">Settings</span>-->
      <!--</div>-->
    <!--</md-button>-->

    <!--<md-button class="item" aria-label="help">-->
      <!--<div layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-help" class="s16"></md-icon>-->
        <!--<span class="title">Help</span>-->
      <!--</div>-->
    <!--</md-button>-->
  </div>

</md-content>
<!-- / SIDENAV CONTENT -->
