<form id="addProductForm" name="vm.editForm" ng-submit="saveProduct(content)" novalidate>
    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-cog"></md-icon> <h3>General details</h3>
            </div>
        </md-card-title>
        <md-card-content>
            <div class="issuer">
                <div layout="row" layout-align="space-between start">
                    <div class="w-400 {{editImageOn ? 'h-400 p-40' : 'h-420 p-20'}} pos-rel" ng-class="{'md-whiteframe-2dp':editImageOn, 'dragOn':divClass,'light-gray':editImageOn}" layout="column" drag-and-drop>
                        <div class="text-right close-logo" ng-if="editImageOn">
                            <md-button class="md-icon-button" ng-click="editCompanyCancel()"><md-icon md-font-icon="icon-close"></md-icon> </md-button>
                        </div>
                        <div flex layout="column" layout-align="center center" class="product-preview product-preview-product" ng-if="!editImageOn" ng-click="editCompanyLogoInit()">
                            <span class="op-5">Product image</span>
                            <div layout="column" layout-align="center center" class="b b-light pos-rel">
                                <div class="selected animate-fade-in-out">
                                    <md-icon md-font-icon="icon-camera"></md-icon>
                                </div>
                                <!--<div layout="column" layout-align="center center" class="msg" ng-if="cropper.croppedImage==null">-->
                                <!--<md-icon md-font-icon="icon-information"></md-icon> No image is selected yet-->
                                <!--</div>-->
                                <div ng-show="cropper.croppedImage!=null">
                                    <img ng-src="{{cropper.croppedImage}}" />
                                </div>
                            </div>
                            <label ng-show="cropper.croppedImage!=null" class="img-size-msg">[Image size : 180px X 180px]</label>
                        </div>
                        <div ng-if="editImageOn" flex layout="column" layout-align="start center" class="product company-logo-preview deadElements" fill-height>
                            <div layout="column" layout-align="center center" class="img-up-invitation animate-fade-in-out pos-abs" fill-height ng-if="!addedImage" style="top: 0">
                                <div flex="45"><md-icon md-font-icon="icon-image-filter"></md-icon></div>
                                <h3 class="font-accent mb-10">Drag and Drop</h3>
                                <div><i>or</i></div>
                                <md-button class="md-raised md-accent mt-10" ng-click="triggerImgInput()">Browse</md-button>
                            </div>
                            <div ng-if="addedImage" class="animate-fade-in-out">
                                <image-cropper ng-if="addedImage" id="imageCropElement" class="product-image-cropper"
                                               image-url="{{addedImage}}"
                                               width="300"
                                               height="300"
                                               show-controls="true"
                                               fit-on-init="true"
                                               center-on-init="true"
                                               api="vm.cropperApi"
                                               crop-callback="vm.updateResultImage"
                                               cropped-base="vm.croppedBase64"
                                               check-cross-origin="false"
                                               action-labels="vm.myButtonLabels"
                                ></image-cropper>
                            </div>
                            <md-button ng-if="addedImage" ng-click="retryImageUpload()" style="left: 0;bottom: 0;position:absolute">Cancel</md-button>
                            <md-button ng-if="addedImage" ng-click="vm.doneImageCropping()" class="md-accent" style="right: 0;bottom: 0;position:absolute">Save</md-button>
                            <!--<div ng-if="addedImage" layout="row" layout-align="space-between center" class="h-60 actions">-->

                                <!--<md-button ng-click="retryImageUpload()">Cancel</md-button>-->
                                <!--<md-button ng-click="vm.doneImageCropping()" class="md-accent">Save</md-button>-->

                                <!--&lt;!&ndash;<md-button layout="row" layout-align="center center" ng-click="retryImageUpload()" md-ink-ripple><i class="material-icons m-0">undo</i><md-tooltip>Retry</md-tooltip></md-button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<md-button layout="row" layout-align="center center" class="md-raised md-accent" ng-click="vm.doneImageCropping()"><i class="material-icons m-0">done</i></md-button>&ndash;&gt;-->
                            <!--</div>-->
                            <input type="file" id="productImageInput" image="cropper.sourceImage" style="display:none" />
                            <!--<div class="img-size-msg">[Maximum size : 180px X 180px]</div>-->
                        </div>
                    </div>
                    <div class="w-15" ng-if="editImageOn"></div>
                    <div layout="column" layout-align="start start" flex>
                        <div layout="row" fill-width>
                            <md-input-container flex="50">
                                <label>Product Name</label>
                                <input ng-required="true" type="" name="productName" ng-pattern="" ng-maxlength="20" ng-model="content.product_name"  autofocus>
                                <div ng-messages="vm.editForm.productName.$error">
                                    <div ng-message="maxlength">Product name must be between 1-20 characters</div>
                                </div>
                            </md-input-container>

                            <div flex="5"></div>

                            <md-input-container flex="50">
                                <label>Code</label>
                                <input ng-required="true" ng-minlength="3" type="" name="productCode" ng-maxlength="20" ng-blur="validateProduct(content.code)" ng-pattern="" ng-model="content.code">
                                <div ng-messages="vm.editForm.productCode.$error">
                                    <div ng-message="maxlength">Product code must be between 3-20 characters</div>
                                    <div ng-message="minlength">Product code must be between 3-20 characters</div>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout="row" fill-width>
                            <div flex="50" layout="row">
                                <md-input-container flex>
                                    <label>Category</label>
                                    <md-select ng-required="false" ng-model="content.category" ms-scroll>
                                        <md-option ng-repeat="value in categories" value="{{value}}">
                                            {{value}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <md-button ng-click="addCat($event)" class="md-icon-button md-accent"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add new</md-tooltip> </md-button>
                                </md-input-container>
                            </div>

                            <div flex="5"></div>

                            <div flex="50" layout="row">
                                <md-input-container flex>
                                    <label>Brand</label>
                                    <md-select ng-required="false" ng-model="content.brand">
                                        <md-option ng-repeat="value in brands" value="{{value}}">
                                            {{value}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <md-button ng-click="addBrand($event)" class="md-icon-button md-accent"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add new</md-tooltip> </md-button>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="row" fill-width class="mt-20">
                            <md-input-container flex>
                                <label>Description</label>
                                <textarea ng-required="false" md-maxlength="450" ng-maxlength="450" type="" name="ProductDesc" ng-pattern="" ng-model="content.descroption" class="h-100"></textarea>
                                <div ng-messages="vm.editForm.ProductDesc.$error">
                                    <div ng-message="maxlength">Product description must be between 1-450 characters</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <span class="title-icon-custom">$</span> <h3>Price related details</h3>
            </div>
        </md-card-title>
        <md-card-content>
            <div layout="row" style="height: 50px;">
                <div layout="row" layout-align="start center" flex="30" class="state-capsule">
                    <div layout="row">
                        <span>Currency</span>
                        <span>{{content.selectCurrency}}</span>
                    </div>
                </div>
            </div>
            <div layout="row" style="height: 95px;">
                <md-input-container flex="30">
                    <label>Price</label>
                    <input ng-required="true" minlength="null" max="1000000000000000000" md-maxlength="null" min="0" step="0.01"  type="number" name="Price" ng-model="content.price_of_unit" valid-number decimal-point="decimalPoint">
                    <div ng-messages="vm.editForm.Price.$error">
                        <div ng-message="max">Price must be between 1-18 digits</div>
                    </div>
                </md-input-container>

                <div flex="5"></div>

                <md-input-container flex="30">
                    <label>Cost of product</label>
                    <input ng-required="false" minlength="null" max="1000000000000000000" md-maxlength="null" min="0" step="0.01" type="number" name="CostPrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model="content.cost_price">
                    <div ng-messages="vm.editForm.CostPrice.$error">
                        <div ng-message="max">Cost of product must be between 1-18 digits</div>
                    </div>
                </md-input-container>

                <div flex="5"></div>

                <div flex="30" layout="row">
                    <div layout="column" flex>
                        <md-input-container>
                            <label>Tax</label>
                            <md-select ng-required="content.apply_tax" ng-model="content.tax" ng-disabled="!content.apply_tax">
                                <md-option ng-repeat="value in taxGroup" value="{{value.taxgroupcode}}">
                                    {{value.taxgroupcode}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-checkbox ng-model="content.apply_tax" aria-label="Apply Tax" class="md-primary dep-checkbox" style="top:0;width: 100px;">Apply Tax</md-checkbox>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-scale"></md-icon> <h3>Quantity related details</h3>
            </div>
        </md-card-title>
        <md-card-content>
            <div layout="row" style="height: 95px;">
                <md-input-container flex="30">
                    <label>Quantity of unit</label>
                    <input ng-required="false" ng-disabled="content.sku" name="ProdQty" min="0" max="1000000000000000" type="number" name="Qty" ng-pattern="/^-?[0-9][^\.]*$/" ng-model="content.quantity_of_unit">
                    <div ng-messages="vm.editForm.ProdQty.$error">
                        <div ng-message="pattern">Quantity of Unit is invalid</div>
                        <div ng-message="max">Quantity of unit must be between 1-16 digits</div>
                    </div>
                </md-input-container>

                <div flex="5"></div>

                <div flex="30" layout="row">
                    <md-input-container flex>
                        <label>Unit of measures</label>
                        <md-select ng-required="false"  ng-model="content.uom" ms-scroll>
                            <md-option ng-repeat="value in UOMs" value="{{value}}">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-button ng-click="addUOM($event)" class="md-icon-button md-accent"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add new</md-tooltip> </md-button>
                    </md-input-container>
                </div>

                <div flex="5"></div>

                <div flex="30" layout="row">
                    <div layout="column" flex>
                        <md-input-container style="margin-bottom: 0">
                            <label>Minimum stock level</label>
                            <input ng-disabled="!content.sku" ng-required="content.sku" minlength="null" min="0" max="1000000000000000" md-maxlength="null" type="number" name="MinStockLevel" ng-pattern="/(?:)/" ng-model="content.minimum_stock_level">
                            <div ng-messages="vm.editForm.MinStockLevel.$error">
                                <div ng-message="max">Minimum stock level must be between 1-16 digits</div>
                            </div>
                        </md-input-container>
                        <md-checkbox ng-model="content.sku" ng-click="trackInventoryClicked(content.sku)" aria-label="Track Inventory" class="md-primary dep-checkbox" style="top: -5px;width: 140px;">Track inventory</md-checkbox>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</form>
