#product {

  .carded-list-wrap{
    md-card-header{
      padding: 16px;
      md-card-header-text{
        font-weight: 400;
        color: #aaaaaa;
      }
    }
    md-content{
      max-height: 350px;
      min-height: 350px;
      overflow-x:hidden;
      .no-sched{
        color: #aaa;
        font-weight: 300;
        md-icon{
          color: #aaa;
        }
      }
    }
    .carded-list-row{
      padding: 16px;
      height: 53px;

      &:not(:last-child){
        background: rgba(204, 204, 204, 0.08);;
        border-bottom: solid 1px rgba(204, 204, 204, 0.28);;
      }
      .stop-btn{
        min-width: auto;
        min-height: auto;
        width: 50px;
        height: 25px;
        font-size: 12px;
        margin-right: 0px;
        span{
          position: relative;
          top: -5px;
        }
      }
    }
  }

  .read-view-tabs{
    md-tabs-wrapper {
      display: block!important;
      .md-tab{
        //float:none;
      }
    }

    md-tabs-content-wrapper {
      top: auto!important;
    }
  }

  .prod-info-wrap.page-setup-cover {
    pointer-events: none;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
    -ms-transition: filter 0.5s;
    -o-transition: filter 0.5s;
    transition: filter 0.5s;
  }

  .prod-info-wrap {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
    -webkit-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
    -ms-transition: filter 0.5s;
    -o-transition: filter 0.5s;
    transition: filter 0.5s;
  }

  .product-display-pane {
    background: #FFFFFF;

    .product-header {
      padding:10px 16px 10px 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      .summary {

        .name{
          font-size: 18px;
          font-weight: 500;
        }

        .code{
          font-size: 13px;
          font-weight:400;
        }
      }

      .cost{
        .value{
          font-size:28px;
          font-weight:300;
          color:rgb(3,155,229);
        }

        .note{
          font-size: 13px;
          font-weight:400;
        }
      }
    }

    .product-content {
      padding: 24px 0;

      .image{
        width:100%;
        img{
          max-width:100%;
          height:auto;
        }
      }

      .info {
        padding-top:24px;
        width:100%;

        .summary{
          width:100%;
          padding-left:24px;
          padding-right:24px;
          font-size: 14px!important;
          border-top:1px solid rgba(0, 0, 0, 0.12);

          .info_sup{
            font-weight:700;
            color:rgba(0,0,0,0.54);
            padding:24px 0px 24px 0px;
            font-size: 14px;
          }

          .summary_list{
            width:100%;

            .sum_column{
              >div{
                width: 100%;
              }

              .column_cell{
                width:100%;
                padding:12px 0;
                margin-bottom: 3px;
                margin-right: 5px;

                span:first-child{
                  /* font-weight: 500; */
                  /* text-transform: uppercase; */
                  color: rgba(0, 0, 0, 0.6);
                  padding-left: 13px;
                }

                md-input-container{
                  margin-top: 0px;
                  margin-bottom: 0px;
                  width: 100%;
                  position: relative;
                  top: 10px;
                }
                md-select-value, md-checkbox{
                  span{
                    text-transform: capitalize!important;
                    color: #000!important;
                    font-weight: normal!important;
                  }
                }
              }

              >div:nth-child(odd) .column_cell{
                background: rgba(33,150,243,0.03);
              }
            }
          }
        }

        .description{
          width:100%;
          padding-left:24px;
          padding-right:24px;
          border-top:1px solid rgba(0, 0, 0, 0.12);

          .info_sup{
            font-weight:700;
            color:rgba(0,0,0,0.54);
            padding:24px 0px 24px 0px;
          }
        }

      }
    }

    .product-update-header {
      padding:10px 16px 10px 16px;
      //border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      .summary {
        margin-top: 10px;
        .name{
          font-size: 18px;
          font-weight: 500;

          .productname-ctrl
          {
            width: 150px;
            height: 25px;
          }
        }

        .code{
          font-size: 13px;
          font-weight:400;
        }
      }

      .cost{
        .value{
          font-size:28px;
          font-weight:300;
          color:rgb(3,155,229);

          .price-control
          {
            text-align: right;
            font-size: 20px;
          }

        }

        .note{
          font-size: 13px;
          font-weight:400;
        }
      }
    }

    .product-update-content {
      padding: 24px 0;

      .image{
        width:100%;
        img{
          max-width:100%;
          height:auto;
        }
      }

      .info {
        padding-top:24px;
        width:100%;

        .summary{
          width:100%;
          padding-left:24px;
          padding-right:24px;
          //border-top:1px solid rgba(0, 0, 0, 0.12);

          .info_sup{
            font-weight:700;
            color:rgba(0,0,0,0.54);
            padding:24px 0px 24px 0px;
          }

          .summary_list{
            width:100%;

            .sum_column{

              .column_cell{
                width:100%;
                padding-bottom:24px;

                span:first-child{
                  font-weight:500;
                }

                span:last-child{
                  font-weight:500;
                  color:rgba(0,0,0,0.75);

                  .select-flow
                  {
                    -webkit-appearance: button;
                    -webkit-border-radius: 2px;
                    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
                    -webkit-padding-end: 20px;
                    -webkit-padding-start: 2px;
                    -webkit-user-select: none;
                    background-image: url(core/cloudcharge/img/cc_select_arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 10%, #E5E5E5);
                    background-position: 97% center;
                    background-repeat: no-repeat;
                    border: 1px solid #AAA;
                    color: #555;
                    overflow: hidden;
                    padding: 3px 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }

                }
              }

              .column_cell:last-child{
                padding-bottom:none;
              }
            }
          }
        }

        .description{
          width:100%;
          padding-left:24px;
          padding-right:24px;
          border-top:1px solid rgba(0, 0, 0, 0.05);

          .info_sup{
            font-weight:700;
            color:rgba(0,0,0,0.54);
            padding:24px 0px 24px 0px;
          }
        }

      }

      .description {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        //border-top: 1px solid rgba(0, 0, 0, 0.12);
      }
    }

  }
}
