<md-dialog aria-label="Add UOM"  ng-cloak>
    <form name="editForm" ng-submit="submit()">
        <md-toolbar class="modal-header">
            <div class="md-toolbar-tools">
                <h2>Add UOM</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close">
                    <ng-md-icon icon="close" style="fill:white;" size="24px" style="color:#8D8D8D"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Enter UOM</label>
                        <input required name="unitOfMeasure" ng-model="uom"  autofocus>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <md-button ng-click="cancel()" >
                Cancel
            </md-button>
            <md-button type="submit" style="margin-right:20px;" >
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>