<style>
.editInputs
{
    border: 1px solid #C1C1C1;
	background-image: none !important;
}
</style>
<div class="card-container" style="padding:20px;" layout="row" layout-align="start start">
	<md-whiteframe id="viewAllWhiteframe" class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="margin:0 auto;max-width:750px">
		<md-content style="width:100%;">
		
				<div style="padding:15px;background:#f7f7f7">
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm style="margin:0;margin-top:10px">
							<label style="font-size:20px;color:#0072a5">Search</label>
							<input id="search" ng-model="search">
						</md-input-container>
	
					</div>
				<div layout="row" layout-align="space-between center">
					<fieldset class="standard">
						<legend>STATUS</legend>
						<md-radio-group ng-model="status" layout="row" style="margin-top: 0 !important">
							  <md-radio-button value="true" class="md-primary">Active</md-radio-button>
							  <md-radio-button value="false"> Inactive </md-radio-button>
						</md-radio-group>
					</fieldset>
					<div>
						<label>Categories</label>
						 <md-menu md-position-mode="target-right target" >
							  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
								<md-icon md-svg-icon="../img/ic_keyboard_arrow_down_24px.svg"></md-icon>
							  </md-button>
							 <md-menu-content width="4" >
								<md-menu-item ng-repeat="category in categories">
								  <md-button>
									  <div layout="row" flex>
										<p flex>{{category}} </p>
										<!--<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>-->
									  </div>
								  </md-button>
								</md-menu-item>
								<!--<md-menu-item>-->
								  <!--<md-button>-->
									  <!--<div layout="row" flex>-->
										<!--<p flex>Sports </p>-->
										<!--<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>-->
									  <!--</div>-->
								  <!--</md-button>-->
								<!--</md-menu-item>-->
								<!--<md-menu-item>-->
								  <!--<md-button>-->
									  <!--<div layout="row" flex>-->
										<!--<p flex>Tech </p>-->
										<!--<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>-->
									  <!--</div>-->
								  <!--</md-button>-->
								<!--</md-menu-item>-->
							  </md-menu-content>
						</md-menu>
					</div>
				</div>
				</div>
				<hr/>
				
				<md-list>
				 <md-list-item  ng-repeat="product in products | filter:search | filter:status | filter:category" ng-click="openProduct(product)" style="outline:none;" id="{{product.code}}">
					 <md-card layout="row" layout-align="space-between center" style="width:100%;padding:0;margin: 3px;">
						<div flex="30"><img src="{{product.attachment}}" style="width:80px;margin-left: 10px;"/></div>
						<div flex="50" layout="column">
							<label style="font-size: 18px;font-weight: 700;">{{product.product_name}}</label>
							<label style="font-size: 14px;color:grey">Code: {{product.code}}</label>
						</div>
						<div flex="20" layout="column">
							<label style="font-size: 28px;font-weight: 700;color:#0072a5">{{product.price_of_unit | currency}}</label>
						</div>
						
					 </md-card>
				 </md-list-item >
				 </md-list>
	
				
		
		</md-content>
	</md-whiteframe>

	<md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="margin:0 auto;max-width:750px;position: fixed;right: 20px;" ng-show="selectedProduct.product_name">
	<md-content style="width:100%;">



		<div class="section_padding">

			 <md-content layout="row" layout-align="space-between center" style="padding-bottom:15px;">

				<div flex="70" layout="column">
					<div>
						<label style="font-size: 25px;font-weight: 700;">{{selectedProduct.product_name | uppercase}}</label>
						 <!--<md-button class="md-icon-button" aria-label="More" ng-click="toggleEdit()" >-->
							<!--<ng-md-icon icon="mode_edit" style="margin-top: 18px;margin-right: 18px;fill:#B4B4B4" size="20px" ng-show="editOff"></ng-md-icon>-->
							<!--<ng-md-icon icon="cancel" style="margin-top: 18px;margin-right: 18px;fill:#B4B4B4" size="20px" ng-hide="editOff"></ng-md-icon>-->
						 <!--</md-button>-->
						  <!--<md-button class="md-icon-button" aria-label="More" ng-click="saveEdit()" ng-hide="editOff">-->
							<!--<ng-md-icon icon="save" style="margin-top: 18px;margin-right: 18px;fill:#B4B4B4" size="20px"></ng-md-icon>-->
						  <!--</md-button>-->
						  
						  
					</div>
					<label style="font-size: 14px;color:grey;margin-top:5px">CODE: {{selectedProduct.code}}</label>
				</div>
				<div flex="20" layout="column" layout-align="end end">
					<label style="font-size: 30px;font-weight: 700;color:#0072a5">{{selectedProduct.price_of_unit | currency}}</label>
					<label style="font-size: 10px;">(Without Tax)</label>
				</div>
				
			 </md-content>
        </div>
		 <md-divider></md-divider>
         <div style="height:450px;overflow-y: scroll">
             <div class="section_padding">
             <md-content layout="row" layout-align="space-between center" style="max-height:310px;">
                <div flex="50"><img src="{{selectedProduct.attachment}}" style="width:90%"/></div>
                <div flex="50"><p> lakjfd alkdf alkdfj alkadf alkn lkdf  askdf alkdf alkf lkd lalkn fka flknaldf lkadfl laskfm adf
                lkadjsflka flkandlf anflka ldkclkn lknflkannl dlkfnl</p>
                <p> {{selectedProduct.descroption}}</p>
                </div>
              </md-content>

              <md-content id="editContent" title="category" ng-mouseenter="hoverEdit($event)" ng-mouseleave="hoverEditOff()" layout="row" layout-align="space-between center" style="background:#f1f1f1;padding:10px;">
                <div flex="85" id="editDiv"><text style="color:#929292">Category</text></div>
                <div><text style="font-weight:700" ng-hide="hideContent()">{{selectedProduct.category}}</text>
					<select ng-model="content.category" ng-hide="editOff">
						<option value="" ng-click="addCat($event)">Add Category</option>
						<md-divider></md-divider>
						<option ng-repeat="value in categories" value="{{value}}">{{value}}</option>
					</select>
                </div>
                <div>
                    <md-button class="md-icon-button" aria-label="More" ng-click="toggleEdit()" ng-hide="editBtn">
                    <ng-md-icon icon="mode_edit" style="margin-top: 18px;margin-right: 18px;fill:#B4B4B4" size="20px"></ng-md-icon>
                    </md-button>
                </div>
              </md-content>
              <md-content layout="row" layout-align="space-between center" style="padding:10px;">
                <div flex="100"><text style="color:#929292">Quantity</text></div>
                <div><text style="font-weight:700" ng-hide="hideContent()">05</text>
                    <input class="editInputs" ng-model="selectedProduct.quantity" type="number" ng-hide="editOff">
                </div>
                <div>
                    <md-button class="md-icon-button" aria-label="More" ng-click="toggleEdit()" ng-hide="editBtn">
                       <ng-md-icon icon="mode_edit" style="margin-top: 18px;margin-right: 18px;fill:#B4B4B4" size="20px"></ng-md-icon>
                    </md-button>
                </div>
              </md-content>
              <md-content layout="row" layout-align="space-between center" style="background:#f1f1f1;padding:10px;">
                <div><text style="color:#929292">Brand</text></div>
                <div><text style="font-weight:700" ng-show="editOff">Brand no 1</text><input class="editInputs" ng-model="selectedProduct.quantity" ng-hide="editOff"></div>
              </md-content>
              <md-content layout="row" layout-align="space-between center" style="padding:10px;">
                <div><text style="color:#929292">Status</text></div>
                <div ng-show="editOff">
                    <text style="font-weight:700;color:#0072a5" ng-if="selectedProduct.active == 'true'">Active</text>
                    <text style="font-weight:700;color:#0072a5" ng-if="selectedProduct.active == 'false'">Inactive</text>
                </div>
                <select ng-hide="editOff">
                  <option value="true">Active</option>
                  <option value="false">Inactive</option>
                </select>
              </md-content>
              <md-divider></md-divider>

              <md-content layout="row" layout-align="space-between center" style="padding:10px;">
                <div><text style="font-weight:700">Sub Total</text></div>
                <div><text style="font-weight:700">{{selectedProduct.price | currency}}</text></div>
              </md-content>
              <md-content layout="row" layout-align="space-between center" style="padding:10px;">
                <div><text>Tax ({{selectedProduct.tax}}%)</text></div>
                <div><text>{{selectedProduct.price * selectedProduct.tax / 100 | currency}}</text></div>
              </md-content>

                <md-content layout="row" layout-align="space-between center" style="background:#ededed;padding:10px;height:60px">
                <div><text style="font-weight:700;font-size: 18px;">Total Amount</text></div>
                <div><text style="font-weight:700;font-size: 25px;color:#0072a5">{{selectedProduct.price * selectedProduct.tax / 100 + selectedProduct.price | currency}}</text></div>
              </md-content>

        </div>
	 </div>
				
		
		</md-content>
	</md-whiteframe>
</div>

<div  class="lock-size" layout="row">
	<md-fab-speed-dial md-open="demo.isOpen" md-direction="up"
	ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
	<md-fab-trigger>
		<md-button aria-label="menu" class="md-fab " style="background-color:#e64a19;" href="#/add">
			<md-icon md-svg-src="../img/ic_add_24px.svg" style="width:30px;" ></md-icon>
			<md-tooltip md-direction="left">View</md-tooltip>
		</md-button>
	</md-fab-trigger>
	<md-fab-actions>
	</md-fab-actions>
    </md-fab-speed-dial>
</div> 