<div id="product" class="page-layout carded left-sidenav" layout="row" ng-switch="vm.appInnerState">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDENAV -->
    <!--<md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"-->
    <!--ng-include="'app/main/plans/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>-->
    <!--</md-sidenav>-->
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div ng-switch-when="default" class="center" layout="column" flex>
        <!-- CONTENT HEADER- V NAV-->
        <div layout="column" layout-align="start start">
            <div class="v-header" layout="column" flex fill-width>
                <div class="title" layout="column" layout-align="center start" ng-if="!themeDuoworld">
                    <div class="logo" layout="row" layout-align="start center">
                        <span class="logo-icon">
                          <img src="app/core/app_icons/product_app_icon.png" alt=""/>
                        </span>
                        <span class="logo-text">Product</span>
                    </div>
                </div>
                <div layout="row">
                    <div class="title" layout="column" layout-align="center start" ng-if="themeDuoworld">
                        <div class="logo" layout="row" layout-align="start center">
                        <span class="logo-icon">
                          <img src="app/core/app_icons/product_app_icon_black.png" alt=""/>
                        </span>
                            <span class="logo-text">Product</span>
                        </div>
                    </div>
                    <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex ng-class="{'op-5':vm.activeProductPaneIndex == 1}">
                        <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md aria-label="Toggle Sidenav">
                            <md-icon class="icon" md-font-icon="icon-menu"></md-icon>
                        </md-button>

                        <div class="search" flex layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                            <input ng-disabled="vm.activeProductPaneIndex == 1" flex ng-model="vm.search" type="text" ng-keypress="searchKeyPress($event,vm.search,vm.search.length)" ng-change="loadByKeywordPlan(vm.search,3)" placeholder="Search for Plans">
                        </div>
                    </div>
                    <md-button class="md-raised md-accent main-app-create" layout="row" layout-align="center center" aria-label="compose" ng-disabled="vm.activeProductPaneIndex == 1" ng-click="vm.addProductDialog()" ng-if="!inpageReadPaneEdit"><span class="fs-18 mr-10">+</span> NEW
                    </md-button>
                </div>
            </div>
            <!--<div class="v-nav">-->
            <!--<div ng-include="'app/main/plans/sidenavs/main/main-sidenav.html'"></div>-->
            <!--</div>-->

        </div>
        <!--<div layout="column" layout-align="start start">-->
        <!--<div class="v-header" layout="column" flex fill-width>-->
        <!--<div class="title" layout="column" layout-align="center start">-->
        <!--<div class="logo" layout="row" layout-align="start center">-->
        <!--<span class="logo-icon">-->
        <!--<img src="app/core/app_icons/plans_app_icon.png" alt=""/>-->
        <!--</span>-->
        <!--<span class="logo-text">Plans</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div layout="row">-->
        <!--<div class="search-wrapper md-whiteframe-4dp animate-fade-in-out" layout="row" layout-align="start center" flex ng-if="vm.activeProductPaneIndex == 0">-->
        <!--<md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md aria-label="Toggle Sidenav">-->
        <!--<md-icon class="icon" md-font-icon="icon-menu"></md-icon>-->
        <!--</md-button>-->

        <!--<div class="search" flex layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>-->
        <!--<input flex ng-model="vm.search" type="text" ng-keypress="searchKeyPress($event,vm.search,vm.search.length)" ng-change="loadByKeywordPlan(vm.search,3)" placeholder="Search for Plans">-->
        <!--</div>-->
        <!--</div>-->
        <!--<md-button class="md-raised md-accent" layout="row" layout-align="center center" aria-label="compose" ng-disabled="vm.activeProductPaneIndex == 1" ng-click="toggleEdit()" ng-if="!inpageReadPaneEdit"><span class="fs-18">+</span> NEW-->
        <!--</md-button>-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;<div class="v-nav">&ndash;&gt;-->
        <!--&lt;!&ndash;<div ng-include="'app/main/plans/sidenavs/main/main-sidenav.html'"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>-->
        <!-- / CONTENT HEADER -->

        <!-- CONTENT HEADER -->
        <!--<div class="header" layout="row" layout-align="start start" ng-if="vm.activeInvoicePaneIndex === 0" ng-hide="inpageReadPaneEdit || editOff">-->

        <!--<div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>-->
        <!--<md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md-->
        <!--aria-label="Toggle Sidenav">-->
        <!--<md-icon class="icon" md-font-icon="icon-menu"></md-icon>-->
        <!--</md-button>-->

        <!--<div class="search" flex layout="row" layout-align="start center">-->
        <!--<md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>-->
        <!--<input flex ng-model="vm.search" type="text" ng-keypress="searchKeyPress($event,vm.search,vm.search.length)" ng-change="loadByKeywordPlan(vm.search,3)" placeholder="Search for Plans">-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!-- / CONTENT HEADER -->

        <div layout="row" flex>
            <!-- CONTENT CARD -->
            <div class="content-card" layout="column" ng-class="{'flex-30':showInpageReadpane}" flex>

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar list-header" layout="row" layout-align="space-between center" ng-if="vm.activeProductPaneIndex === 0">
                    <div ng-include="'app/main/product/views/list/list-header.html'" layout="row" flex layout-align="start center"></div>
                </div>
                <div class="toolbar" layout="row" layout-align="end center" ng-if="vm.activeProductPaneIndex === 1">
                    <md-button class="md-icon-button" style="margin-right: -10px"
                               ng-click="vm.closeReadPane()"
                               aria-label="Back">
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT WRAPPER -->
                <div class="content-wrapper" layout="row" flex>

                    <md-tabs md-selected="vm.activeProductPaneIndex" class="content-tabs fixed-tab" md-dynamic-height="{{vm.dynamicHeight}}" flex>
                        <!-- INVOICE LIST PANE -->
                        <md-tab>
                            <md-tab-label>Plans List Pane</md-tab-label>
                            <md-tab-body>
                                <div layout="row">
                                    <div flex class="content main-list-pane"
                                         ng-include="'app/main/product/views/list/list-view.html'" ms-scroll>
                                    </div>
                                </div>

                            </md-tab-body>
                        </md-tab>
                        <!-- / INVOICE LIST PANE -->

                        <!-- INVOICE DISPLAY PANE -->
                        <md-tab>
                            <md-tab-label>Plans Display Pane</md-tab-label>
                            <md-tab-body>
                                <md-content ms-scroll class="content plan-display-pane mb-50"
                                     ng-include="'app/main/product/views/read/read-view.html'">
                                </md-content>
                                <div md-whiteframe="8dp" layout="row" layout-align="space-between center" class="bottom-fixed-bar fixed">
                                    <div layout="row"></div>

                                    <div layout="row" class="layout-row">
                                        <md-button ng-click="clearform()">Clear</md-button>
                                        <md-button ng-disabled="vm.submitted" type="submit" form="addProductForm" class="md-raised md-accent">Save</md-button>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <!-- / INVOICE DISPLAY PANE -->
                    </md-tabs>

                </div>
                <!-- / CONTENT WRAPPER -->

            </div>

            <div flex class="inpage-readpane" layout="column" md-whiteframe="4dp" ng-if="showInpageReadpane">
                <div class="main-list-preloader animate-fade-in-out" layout="row" layout-sm="column" layout-align="space-around" ng-if="productReadPaneLoaded">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div layout="row" layout-align="space-between center" class="inpage-readpane-toolbar">
                    <h3 class="group-sub-head" layout="row" layout-align="start center">Product info</h3>
                    <div layout="row">
                        <md-menu>
                            <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-menu"></md-icon>
                                <md-tooltip>Actions</md-tooltip>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-disabled="inpageReadPaneEdit" aria-label="Delete" ng-click="toggleEdit()">
                                        <md-icon md-font-icon="icon-pencil"></md-icon>
                                        <span>Edit</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-hide="vm.selectedPlan.status == 'Inactive'">
                                    <md-button aria-label="Delete" ng-click="showDeactivatePlanConfirm($event,vm.selectedPlan)">
                                        <md-icon md-font-icon="icon-close-circle"></md-icon>
                                        <span>Deactivate</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-show="vm.selectedPlan.status == 'Inactive'">
                                    <md-button aria-label="Delete" ng-click="showActivatePlanConfirm($event,vm.selectedPlan)">
                                        <md-icon md-font-icon="icon-pencil"></md-icon>
                                        <span>Activate</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-button class="md-icon-button" ng-click="switchInfoPane('close',vm.selectedPlan)">
                            <md-icon md-font-icon="icon-close"></md-icon>
                            <md-tooltip>Close</md-tooltip>
                        </md-button>
                    </div>
                </div>
                <div flex layout="column" class="inpage-readpane-body" ng-if="!inpageReadPaneEdit">
                  <md-tabs md-border-bottom class="inner-iconed-tabs" flex>
                    <md-tab label="Overview">
                      <md-tab-label>
                        <md-icon md-font-icon="icon-cog"></md-icon> General
                      </md-tab-label>
                      <md-tab-body flex>
                        <div layout="row" layout-align="space-between center">
                          <div layout="row" layout-align="start center" flex>
                            <div layout="column" layout-align="center start">
                              <div class="fs-20 font-accent fw-400">{{vm.selectedProduct.product_name}}</div>
                              <div layout="row" class="op-5 layout-row">
                                <span>Code : <b>{{vm.selectedProduct.code}}</b></span>
                              </div>
                            </div>
                            <span class="pill positive ml-20" layout="row" layout-align="center center" ng-class="{'negative':vm.selectedPlan.status==='Inactive','positive':vm.selectedPlan.status==='Active'}">Active</span>
                            <div flex></div>
                            <div class="ml-20">
                              <div class="cost" layout="column" layout-align="center end" flex>
                                <span class="value">{{vm.selectedProduct.price_of_unit | isoCurrency:vm.selectedProduct.currency: decimalPoint}}</span>
                                <span class="note">(excl. Tax)</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--<div class="product-header" flex layout="row" layout-align="start start" ng-if="!editOff" style="padding-top: 60px">-->
                        <!--<div class="summary" layout="column" layout-align="center start" flex>-->
                        <!--<span class="name">{{vm.selectedProduct.product_name}}</span>-->
                        <!--<span class="code">Code : {{vm.selectedProduct.code}}</span>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div layout="row" layout-align="center center" ng-show="!productReadPaneLoaded" flex>&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="assets/images/142.gif" alt="" style="width: 40px;"/>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--<div class="cost" layout="column" layout-align="center end" flex>-->
                        <!--<span class="value">{{vm.selectedProduct.price_of_unit | isoCurrency:vm.selectedProduct.currency: decimalPoint}}</span>-->
                        <!--<span class="note">(Excluding Tax)</span>-->
                        <!--</div>-->
                        <!--<div class="actions">-->
                        <!--&lt;!&ndash;<md-menu>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-icon md-font-icon="icon-dots-vertical"></md-icon>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-tooltip>Product Action</md-tooltip>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-button>&ndash;&gt;-->

                        <!--&lt;!&ndash;<md-menu-content width="3">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-menu-item>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-button aria-label="Request Products">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-reply"></md-icon>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<span>Request Products</span>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</md-button>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</md-menu-item>&ndash;&gt;&ndash;&gt;-->

                        <!--&lt;!&ndash;&lt;!&ndash;<md-menu-item>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-button aria-label="Add label">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-label"></md-icon>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<span>Add label</span>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</md-button>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</md-menu-item>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-menu-item>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-button aria-label="Edit" ng-click="toggleEdit()">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-pencil"></md-icon>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<span>Edit</span>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</md-button>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</md-menu-item>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-menu-item>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-button aria-label="Delete">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-delete"></md-icon>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<span>Delete</span>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</md-button>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</md-menu-item>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-menu-content>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-menu>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->

                        <md-divider class="mt-15"></md-divider>

                        <div ms-scroll layout="row" layout-align="start start" flex>
                          <md-content ms-scroll flex class="md-padding light-gray" layout-fill>
                            <div class="mb-20">
                              {{vm.selectedProduct.descroption}}
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                              <div flex="40" class="iconed-label">
                                <md-icon md-font-icon="icon-calendar-today"></md-icon> <span>Category</span>
                              </div>
                              <div flex>{{vm.selectedProduct.category}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                              <div flex="40" class="iconed-label">
                                <md-icon md-font-icon="icon-calendar-today"></md-icon> <span>Quantity</span>
                              </div>
                              <div flex>{{vm.selectedProduct.quantity_of_unit}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                              <div flex="40" class="iconed-label">
                                <md-icon md-font-icon="icon-calendar-today"></md-icon> <span>Tax code</span>
                              </div>
                              <div flex>{{vm.selectedProduct.tax}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                              <div flex="40" class="iconed-label">
                                <md-icon md-font-icon="icon-calendar-today"></md-icon> <span>Minimum stock level</span>
                              </div>
                              <div flex>{{vm.selectedProduct.minimum_stock_level}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                              <div flex="40" class="iconed-label">
                                <md-icon md-font-icon="icon-calendar-today"></md-icon> <span>Brand</span>
                              </div>
                              <div flex>{{vm.selectedProduct.brand}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                              <div flex="40" class="iconed-label">
                                <md-icon md-font-icon="icon-calendar-today"></md-icon> <span>Unit of measure</span>
                              </div>
                              <div flex>{{vm.selectedProduct.uom}}</div>
                            </div>
                            <div layout="row" layout-align="start center" class="info-grid-row">
                              <div flex="40" class="iconed-label">
                                <md-icon md-font-icon="icon-calendar-today"></md-icon> <span>Cost of product</span>
                              </div>
                              <div flex>{{vm.selectedProduct.cost_price}}</div>
                            </div>
                          </md-content>
                          <md-divider></md-divider>
                          <div class="md-padding bg-white w-330" layout-fill layout-align="center center" layout="column">
                            <img src="{{vm.selectedProduct.attachment}}" alt="{{vm.selectedProduct.product_name}}" style="width: 300px;">
                          </div>
                        </div>
                        <!--<div class="product-content" layout="column" layout-align="start start" ng-if="!editOff">-->
                        <!--<div class="image" id="product-image" layout="column" layout-align="center center">-->
                        <!--<img src="http://{{vm.selectedProduct.attachment}}">-->
                        <!--</div>-->
                        <!--<div class="info" layout="column" layout-align="start start">-->
                        <!--<div class="summary" layout="column" layout-align="start start">-->
                        <!--<span class="info_sup">Summary</span>-->
                        <!--<div class="summary_list" layout="row" layout-align="start start">-->
                        <!--<div class="sum_column" flex layout="column" layout-align="start start">-->
                        <!--<div layout="row" layout-align="center center" flex>-->
                        <!--<div class="column_cell" layout="row" layout-align="center center" flex>-->
                        <!--<span flex>Category</span><span flex>{{vm.selectedProduct.category}}</span>-->
                        <!--</div>-->
                        <!--<div class="column_cell" layout="row" layout-align="center center" flex>-->
                        <!--<span flex>Quantity</span><span flex>{{vm.selectedProduct.quantity_of_unit}}</span>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div layout="row" layout-align="center center">-->
                        <!--<div class="column_cell" layout="row" layout-align="start start" flex>-->
                        <!--<span flex>Tax code</span><span flex>{{vm.selectedProduct.tax}}</span>-->
                        <!--</div>-->
                        <!--<div class="column_cell" layout="row" layout-align="start start" flex>-->
                        <!--<span flex>Minimum stock level</span><span flex>{{vm.selectedProduct.minimum_stock_level}}</span>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div layout="row" layout-align="center center">-->
                        <!--<div class="column_cell" layout="row" layout-align="start start" flex>-->
                        <!--<span flex>Brand</span><span flex>{{vm.selectedProduct.brand}}</span>-->
                        <!--</div>-->
                        <!--<div class="column_cell" layout="row" layout-align="start start" flex>-->
                        <!--<span flex>Unit of measure</span><span flex>{{vm.selectedProduct.uom}}</span>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div layout="row" layout-align="center center">-->
                        <!--<div class="column_cell" layout="row" layout-align="start start" flex>-->
                        <!--<span flex>Price</span><span flex>{{vm.selectedProduct.price_of_unit}}</span>-->
                        <!--</div>-->
                        <!--<div class="column_cell" layout="row" layout-align="start start" flex>-->
                        <!--<span flex>Cost of product</span><span flex>{{vm.selectedProduct.cost_price}}</span>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div layout="row" layout-align="center center">-->
                        <!--<div class="column_cell" layout="row" layout-align="start start" flex>-->
                        <!--<span ng-if="vm.selectedProduct.status == true" flex>Status</span><span flex ng-if="vm.selectedProduct.status == true">Active</span>-->
                        <!--<span ng-if="vm.selectedProduct.status == false" flex>Status</span><span flex ng-if="vm.selectedProduct.status == false">Inactive</span>-->
                        <!--</div>-->
                        <!--<div class="column_cell" layout="row" layout-align="start start" flex>-->
                        <!--<span flex>Inventory stock level</span><span flex>{{vm.selectedProduct.inventoryStock}}</span>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="column_cell" layout="row" layout-align="start start">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span flex>Status</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span flex ng-if="vm.selectedProfile.status == 'Active'" style="color: #05a3ec">Active</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span flex ng-if="vm.selectedProfile.status == 'Inactive'" style="color: #BD362F">Inactive</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="description" layout="column" layout-align="start start">-->
                        <!--<span class="info_sup">Description</span>-->
                        <!--<span>{{vm.selectedProduct.descroption}}</span>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--</div>-->
                      </md-tab-body>
                    </md-tab>
                    <md-tab label="History">
                      <md-tab-label>
                        <md-icon md-font-icon="icon-history"></md-icon> History
                      </md-tab-label>
                      <md-tab-body>
                        <!--<div class="preloader" ng-hide="isReadLoaded">-->
                        <!--<md-progress-circular></md-progress-circular>-->
                        <!--</div>-->
                        <div class="main-list-preloader animate-fade-in-out" layout="row" layout-sm="column" layout-align="space-around" ng-hide="!vm.productHistryLoading">
                          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <div class="md-padding">
                          <div flex class="list-offset sub-list">
                            <div class="list-header" layout="row" flex md-whiteframe="1dp">
                              <div flex="10">ID</div>
                              <div flex="20">Date</div>
                              <div flex="20">User</div>
                              <!--<div flex="25">Module</div>-->
                              <div flex>Remarks</div>
                            </div>
                            <md-card-content class="p-0" flex>
                              <md-content class="list-content" ms-scroll>
                                <div layout="row" layout-align="center center" class="msg-empty-list" ng-if="auditTrailList.length == 0">
                                  <span>
                                  <md-icon md-font-icon="icon-information-outline"></md-icon> No history for audit trail is available</span>
                                </div>
                                <div layout="row" flex class="list-item" ng-repeat="detail in auditTrailList|orderBy:'-createdDate'" ng-hide="noAuditTrailLabel">
                                  <div flex="10">
                                    <span>{{$index + 1}}</span>
                                  </div>
                                  <div flex="20">
                                    <span>{{detail.createdDate | limitTo:10}}</span>
                                  </div>
                                  <div flex="20">
                                    <span>{{detail.createdUser}}</span>
                                  </div>
                                  <!--<div flex="25">-->
                                  <!--<span>{{detail.module}}</span>-->
                                  <!--</div>-->
                                  <div flex>
                                    <span>{{detail.remark}}</span>
                                  </div>
                                </div>
                                <div class="invoice-list-item" ng-show="vm.isAuditTrailLoaded" layout="row" layout-align="center center">
                                  <md-button ng-click="searchmoreAuditTrails(vm.selectedProduct)" class="md-primary" style="font-size: 12px;font-weight: 400">
                                    <md-icon md-font-icon="icon-magnify"></md-icon> More</md-button>
                                </div>
                              </md-content>
                            </md-card-content>
                          </div>
                        </div>
                      </md-tab-body>
                    </md-tab>
                  </md-tabs>

                </div>

                <md-content ms-scroll layout="column" class="inpage-readpane-body animate-fade-in-out" id="updatePlanContent" ng-if="inpageReadPaneEdit" ng-style="{'background-color': inpageReadPaneEdit ? '#fff' : ''}" style="padding: 0;margin-bottom: 50px;">
                    <form name="vm.updateForm" id="productEditForm" ng-submit="saveEdit(changeProduct)" style="padding-bottom:50px;font-size: 14px" novalidate>
                        <md-card flex class="input-block-gen">
                            <md-card-title>
                                <div layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-cog"></md-icon> <h3>General Details</h3>
                                </div>
                            </md-card-title>
                            <md-card-content class="issuer">
                                <div class="w-400 {{editImageOn ? 'h-400 p-40' : 'h-420 p-20'}} pos-rel" ng-class="{'md-whiteframe-2dp':editImageOn, 'dragOn':divClass,'light-gray':editImageOn}" layout="column" drag-and-drop style="margin: 0 auto">
                                    <div class="text-right close-logo" ng-if="editImageOn">
                                        <md-button class="md-icon-button" ng-click="editCompanyCancel()"><md-icon md-font-icon="icon-close"></md-icon> </md-button>
                                    </div>
                                    <div flex layout="column" layout-align="center center" class="product-preview product-preview-product" ng-if="!editImageOn" ng-click="editCompanyLogoInit()">
                                        <span class="op-5">Product image</span>
                                        <div layout="column" layout-align="center center" class="b b-light pos-rel">
                                            <div class="selected animate-fade-in-out">
                                                <md-icon md-font-icon="icon-camera"></md-icon>
                                            </div>
                                            <!--<div layout="column" layout-align="center center" class="msg" ng-if="cropper.croppedImage==null">-->
                                            <!--<md-icon md-font-icon="icon-information"></md-icon> No image is selected yet-->
                                            <!--</div>-->
                                            <div>
                                                <img ng-src="{{cropper.croppedImage}}" src="{{cropper.croppedImage}}" />
                                            </div>
                                        </div>
                                        <label ng-show="cropper.croppedImage!=null" class="img-size-msg">[Image size : 300px X 300px]</label>
                                    </div>
                                    <div ng-if="editImageOn" flex layout="column" layout-align="start center" class="product company-logo-preview deadElements" fill-height>
                                        <div layout="column" layout-align="center center" class="img-up-invitation animate-fade-in-out pos-abs" fill-height ng-if="!addedImage" style="top: 0">
                                            <div flex="45"><md-icon md-font-icon="icon-image-filter"></md-icon></div>
                                            <h3 class="font-accent mb-10">Drag and Drop</h3>
                                            <div><i>or</i></div>
                                            <md-button class="md-raised md-accent mt-10" ng-click="triggerImgInput()">Browse</md-button>
                                        </div>
                                        <div ng-if="addedImage" class="animate-fade-in-out">
                                            <image-cropper ng-if="addedImage" id="imageCropElement" class="product-image-cropper"
                                                           image-url="{{addedImage}}"
                                                           width="300"
                                                           height="300"
                                                           show-controls="true"
                                                           fit-on-init="true"
                                                           center-on-init="true"
                                                           api="vm.cropperApi"
                                                           crop-callback="vm.updateResultImage"
                                                           cropped-base="vm.croppedBase64"
                                                           check-cross-origin="false"
                                                           action-labels="vm.myButtonLabels"
                                            ></image-cropper>
                                        </div>
                                        <md-button ng-if="addedImage" ng-click="retryImageUpload()" style="left: 0;bottom: 0;position:absolute">Cancel</md-button>
                                        <md-button ng-if="addedImage" ng-click="vm.doneImageCropping()" class="md-accent" style="right: 0;bottom: 0;position:absolute">Save</md-button>
                                        <!--<div ng-if="addedImage" layout="row" layout-align="space-between center" class="h-60 actions">-->

                                            <!--<md-button ng-click="retryImageUpload()">Cancel</md-button>-->
                                            <!--<md-button ng-click="vm.doneImageCropping()" class="md-accent">Save</md-button>-->

                                            <!--&lt;!&ndash;<md-button layout="row" layout-align="center center" ng-click="retryImageUpload()" md-ink-ripple><i class="material-icons m-0">undo</i><md-tooltip>Retry</md-tooltip></md-button>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<md-button layout="row" layout-align="center center" class="md-raised md-accent" ng-click="vm.doneImageCropping()"><i class="material-icons m-0">done</i></md-button>&ndash;&gt;-->
                                        <!--</div>-->
                                        <input type="file" id="productImageInput" image="cropper.sourceImage" style="display:none" />
                                        <!--<div class="img-size-msg">[Maximum size : 180px X 180px]</div>-->
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-input-container flex="30">
                                        <label>Product Name</label>
                                        <input ng-required="true" ng-maxlength="35" name="editProductName" ng-model="changeProduct.product_name" type="">
                                        <div ng-messages="vm.updateForm.editProductName.$error">
                                            <div ng-message="maxlength">Product name must be between 1-35 characters</div>
                                        </div>
                                    </md-input-container>

                                    <div flex="5"></div>

                                    <div layout="row" layout-align="start center" flex="30" class="state-capsule layout-align-start-center">
                                        <div layout="row" class="layout-row">
                                            <span>Product code</span>
                                            <span>{{vm.selectedProduct.code}}</span>
                                        </div>
                                    </div>

                                    <div flex="5"></div>

                                    <!--<div layout="row" layout-align="start center" flex="30" class="state-capsule">-->
                                        <!--<div layout="row" class="layout-row">-->
                                            <!--<span>Status</span>-->
                                            <!--<span>{{vm.selectedProduct.status == true ? 'Active' : 'Inactive'}}</span>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                </div>

                                <div layout="row">
                                    <div flex="30" layout="row">
                                        <md-input-container flex>
                                            <label>Category</label>
                                            <md-select id="editCatId" ng-change="editCat(changeProduct.category)" ng-model="changeProduct.category" flex>
                                                <md-option ng-repeat="value in categories" value="{{value}}">{{value}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <!--<md-input-container>-->
                                        <!--<md-button ng-click="addCat($event)" class="md-icon-button md-accent"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add new</md-tooltip> </md-button>-->
                                        <!--</md-input-container>-->
                                    </div>

                                    <div flex="5"></div>

                                    <div flex="30" layout="row">
                                        <md-input-container flex>
                                            <label>Brand</label>
                                            <md-select class="width-control" ng-change="editBrand(changeProduct.brand)" ng-model="changeProduct.brand">
                                                <md-option ng-repeat="value in brands" value="{{value}}">{{value}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <!--<md-input-container>-->
                                        <!--<md-button ng-click="addBrand($event)" class="md-icon-button md-accent"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add new</md-tooltip> </md-button>-->
                                        <!--</md-input-container>-->
                                    </div>
                                </div>

                                <div layout="row">
                                    <md-input-container flex>
                                        <label>Description</label>
                                        <input ng-required="false" md-maxlength="450" ng-maxlength="450" name="updateDesc" ng-model="changeProduct.descroption">
                                        <div ng-messages="vm.updateForm.ProductDesc.$error">
                                            <div ng-message="maxlength">Product description must be between 1-450 characters</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </md-card-content>
                        </md-card>

                        <md-card flex class="input-block-gen">
                            <md-card-title>
                                <div layout="row" layout-align="start center">
                                    <span class="title-icon-custom">$</span> <h3>Price Related Details</h3>
                                </div>
                            </md-card-title>
                            <md-card-content>
                                <div layout="row" style="height: 50px;">
                                    <div layout="row" layout-align="start center" flex="30" class="state-capsule">
                                        <div layout="row">
                                            <span>Currency</span>
                                            <span>{{content.selectCurrency}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div layout="row" style="height: 95px;">
                                    <md-input-container flex="30">
                                        <label>Price</label>
                                        <input ng-required="true" name="editpriceOfUnit" min="0" max="1000000000000000000" class="price-control" ng-model="changeProduct.price_of_unit" type="text" step="0.01" valid-number decimal-point="decimalPoint">
                                        <div ng-messages="vm.updateForm.editpriceOfUnit.$error">
                                            <div ng-message="max">Price must be between 1-18 digits</div>
                                        </div>
                                    </md-input-container>

                                    <div flex="5"></div>

                                    <md-input-container flex="30">
                                        <label>Cost of Product</label>
                                        <input ng-required="false" minlength="null" max="1000000000000000000" md-maxlength="null" min="0" step="0.01" type="text" name="CostPrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model="changeProduct.cost_price">
                                        <div ng-messages="vm.updateForm.CostPrice.$error">
                                            <div ng-message="max">Cost of product must be between 1-18 digits</div>
                                        </div>
                                    </md-input-container>

                                    <div flex="5"></div>

                                    <div flex="30" layout="row">
                                        <div layout="column" flex>
                                            <md-input-container>
                                                <label>Tax</label>
                                                <md-select ng-required="changeProduct.apply_tax" flex class="width-control" id="selectTax" name="productTax" ng-model="changeProduct.tax" ng-disabled="!changeProduct.apply_tax" flex>
                                                    <md-option ng-repeat="value in taxGroup" value="{{value.taxgroupcode}}">{{value.taxgroupcode}}</md-option>
                                                </md-select>
                                                <div ng-messages="vm.updateForm.productTax.$error">
                                                </div>
                                            </md-input-container>
                                            <md-checkbox ng-hide="editTax" ng-model="changeProduct.apply_tax" ng-change="enableTaxCode(changeProduct.apply_tax)" style="width: 100px;">Apply Tax</md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>

                        <md-card flex class="input-block-gen">
                            <md-card-title>
                                <div layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-scale"></md-icon> <h3>Quantity Related Details</h3>
                                </div>
                            </md-card-title>
                            <md-card-content>
                                <div layout="row" style="height: 95px;">
                                    <md-input-container flex="30">
                                        <label>Quantity of Unit</label>
                                        <input class="width-control" ng-disabled="changeProduct.sku" ng-pattern="/^-?[0-9][^\.]*$/" max="1000000000000000" name="UpdateQty" ng-model="changeProduct.quantity_of_unit" type="text">
                                        <div ng-messages="vm.updateForm.UpdateQty.$error">
                                            <div ng-message="pattern">Quantity of unit is invalid</div>
                                            <div ng-message="max">Quantity of unit must be between 1-16 digits</div>
                                        </div>
                                    </md-input-container>

                                    <div flex="5"></div>

                                    <div flex="30" layout="row">
                                        <md-input-container flex>
                                            <label>Unit of Measures</label>
                                            <md-select class="width-control" ng-change="editUOM(changeProduct.uom)" ng-model="changeProduct.uom">
                                                <md-option ng-repeat="value in UOMs" value="{{value}}">{{value}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <!--<md-input-container>-->
                                        <!--<md-button ng-click="addUOM($event)" class="md-icon-button md-accent"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add new</md-tooltip> </md-button>-->
                                        <!--</md-input-container>-->
                                    </div>

                                    <div flex="5"></div>

                                    <div flex="30" layout="row">
                                        <div layout="column" flex>
                                            <md-input-container style="margin-bottom: 0">
                                                <label>Minimum Stock Level</label>
                                                <input id="txtMinStock" class="width-control" min="0" name="UpdateMinLevel" max="1000000000000000" ng-disabled="!changeProduct.sku"  ng-model="changeProduct.minimum_stock_level" type="text" ng-required="changeProduct.sku">
                                                <div ng-messages="vm.updateForm.UpdateMinLevel.$error">
                                                    <div ng-message="max">Please enter a lesser value</div>
                                                    <div ng-message="min">Minimum stock level must be between 1-16 characters</div>
                                                </div>
                                            </md-input-container>
                                            <md-checkbox type="checkbox" ng-model="changeProduct.sku" ng-true-value="true" ng-false-value="false" ng-change="enableStockLevel(changeProduct.sku)" style="top: -5px;width: 140px;">Track Inventory</md-checkbox>
                                            <!--ng-show="editOff"-->
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>

                        <!--<md-card flex class="input-block-gen">-->
                            <!--<md-card-title>-->
                                <!--<div layout="row" layout-align="start center">-->
                                    <!--<md-icon md-font-icon="icon-image-area"></md-icon> <h3>Product Image</h3>-->
                                <!--</div>-->
                            <!--</md-card-title>-->
                            <!--<md-card-content>-->
                                <!--<div layout="row" style="height: auto;">-->
                                    <!--<div flex="5"></div>-->
                                    <!--<div flex="40">-->
                                        <!--<div layout="column" layout-align="center center" class="product-img-cont">-->
                                            <!--<div layout="column" layout-align="center center" class="img-up-invitation" ng-if="cropper.croppedImage=='' || cropper.croppedImage==null">-->
                                                <!--<md-icon md-font-icon="icon-image-filter"></md-icon>-->
                                                <!--<span>Browse an image for the Product</span>-->
                                                <!--<span class="img-size-msg">[Maximum size : 350px X 350px]</span>-->
                                            <!--</div>-->
                                            <!--<canvas flex height="350" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="350" crop-height="350" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>-->

                                            <!--<div class="input-partial">-->
                                                <!--<md-button class="md-raised md-accent" ng-click="triggerImgInput($event)">Browse</md-button>-->
                                                <!--<input type="file" id="productImageInput" img-cropper-fileread image="cropper.sourceImage" style="display:none" />-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div flex="5"></div>-->

                                    <!--<div flex layout="column" layout-align="center center" class="product-preview">-->
                                        <!--<span>Product Preview</span>-->
                                        <!--<div layout="column" layout-align="center center" md-whiteframe flex="80">-->
                                            <!--<div layout="row" layout-align="center center" class="msg" ng-if="cropper.croppedImage=='' && vm.selectedProduct.attachment == ''">-->
                                                <!--<md-icon md-font-icon="icon-information-outline"></md-icon> No image is selected yet-->
                                            <!--</div>-->
                                            <!--<div ng-if="cropper.croppedImage =='' && vm.selectedProduct.attachment != ''">-->
                                                <!--<img src="http://{{vm.selectedProduct.attachment}}">-->
                                            <!--</div>-->
                                            <!--<div ng-if="cropper.croppedImage !=''">-->
                                                <!--<img src="{{cropper.croppedImage}}">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<label ng-show="cropper.croppedImage =='' && vm.selectedProduct.attachment != ''" class="img-size-msg">[Image size : 350px X 350px]</label>-->
                                        <!--<span class="img-parameters">(Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bounds.bottom}})</span>-->
                                    <!--</div>-->

                                    <!--<div flex="5"></div>-->
                                <!--</div>-->
                            <!--</md-card-content>-->
                        <!--</md-card>-->

                    </form>
                </md-content>

                <div layout="row" layout-align="end center" md-whiteframe="8dp" class="bottom-fixed-bar absolute" ng-if="inpageReadPaneEdit">
                    <div layout="row"></div>
                    <div layout="row" class="layout-row">
                        <md-progress-circular ng-if="savingEdited" class="gen-save-indicator"></md-progress-circular>
                        <md-button >Reset</md-button>
                        <md-button ng-disabled="savingEdited" type="submit" form="productEditForm" class="md-raised md-accent">Update</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / CENTER -->

</div>
