<md-dialog>
    <form id="promptForm" ng-cloak name="addCategoryForm" ng-submit="promptInputSetup(addCategoryForm, saveBrand)" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Enter Brand</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-input-container style="width: 100%;">
                <label>Brand</label>
                <input name="promptInput" ng-maxlength="20" type="text" ng-model="promptInput" required flex/>
                <div ng-messages="addCategoryForm.promptInput.$error">
                    <div ng-message="maxlength">Brand must be between 1-20 characters</div>
                </div>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">
                Cancel
            </md-button>
            <md-button class="md-raised md-accent" type="submit">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>